<div class="top clearfix">
    <div class="weather pull-left">
        <span class="icon" ng-class="{{'weatherIcon'}}"></span>
        <span class="temp">{{weatherTemperature}}
            <span></span>
        </span>
    </div>
    <nav class="pull-right">
        <ul ng-if="loggedIn" class="list-unstyled list-inline pull-right">
            <li><a ui-sref="form">Form</a>
            </li>
            <li><a ui-sref="clients">Clients</a>
            </li>
            <li>
                <a data-toggle="modal" data-target="#logoutConfirm">Sign Out</a>
            </li>
        </ul>
    </nav>
</div>
<!-- <img class="logo img-responsive" src="images/logo-iseabloom.png" alt="Is&a Bloom"> -->
<h1>Mandrill + AngularJS = ♥</h1>



<!-- Logout Modal -->
<div class="modal fade" id="logoutConfirm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Confirm</h4>
            </div>
            <div class="modal-body">
                Are you sure you want to sign out ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" ng-click="logout()">Yes</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
